.profiles {
    margin-top: 5.5em;
    margin-bottom: 4.5em;
    color: #fff;
}

.profiles h3 {
    color: #355990;
}
.profile__display {
    display: flex;
    flex-flow: column wrap;
}

.profile__div {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    justify-content: flex-start;
    text-align: start;
    padding: 1em;
    background-color: #1B2D48;
    color: #fff;    margin: 1em;
    border-radius: 0.3em;
    box-shadow: 0 5px 5px 5px rgba(0,0,0,0.4);
    overflow: scroll;
    font-size: 1.2em;
}

.profile__div span {
    padding: 0.3em;
    display: flex;
}

.profile__div:hover {
  background-color: #355990;
  color: #fff;
}

@media screen and (min-width: 400px) {
    .profiles {
        margin: 5.5em 5% 4.5em 5%;
    }  
    
    .profile__display {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }

    .profile__div {
        width: 40%;
    }
}